.drawer-link {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: flex-end;
}

.drawer-link__button {
  padding: 5px;
  transition: 0.5s transform ease-in;
  transition-timing-function: cubic-bezier(0.11, 0.48, 0.42, 1.68);
}

.main {
  flex: 10;
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  background: url('./assets/bg.svg');
  background-size: cover;
}
.menu {
  display: none;
}

.menu__item--visible {
  display: block !important;
  position: relative !important;
  top: auto !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate450 {
  transform: rotate(-270deg);
}

.header {
  font-family: 'Lobster', 'Consolas', cursive;
  flex: 3;
  display: none;
  font-size: 3.75em;
  display: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header__title {
  flex: 1;
  padding-left: 1em;
}

.side-menu__head {
  position: absolute;
  font-size: 1.5em;
  opacity: 1;
  z-index: 1;
  padding: 0px 10px 10px 10px;
}

.side-menu__button {
  margin-block-start: 0em;
  margin-block-end: 0em;
  transition: 0.5s transform ease-in;
  transition-timing-function: cubic-bezier(0.11, 0.48, 0.42, 1.68);
}

.side-menu__body {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -125px;
  transition: 0.5s all ease-in;
  z-index: 1;
  transition-timing-function: cubic-bezier(0.11, 0.48, 0.42, 1.68);
}
.side-menu__body--visible {
  display: block;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  list-style-type: none;
  padding-inline-start: 5px;
  font-size: 1.5em;
  margin-top: 2em;
}
.side-menu__body .menu__item {
  padding: 0.7em;
}

.dimmed {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.3;
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 105%;
  }
  .drawer-link {
    display: none;
  }

  .menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    transition: 1s all ease-in;
  }

  .menu .menu__item {
    display: flex;
  }

  .menu a {
    font-size: 0.25em;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 300;
    transition: 0.12s all ease-in;
    opacity: 0.9;
    padding: 10px 8px 5px 8px;
    border-radius: 25px 25px 0px 0px;
    border-top: 5px solid rgb(158, 65, 12);
    background-color: rgba(35, 40, 45);
  }

  .menu a:hover {
    opacity: 1;
  }

  .side-menu__body .menu__item {
    padding: 0.8em;
  }
}
